{% extends 'backend.html.twig' %}
{% block backend %}
<h2>Pages</h2><hr></hr>
<table class="table table-sm table-striped table-dark table-hover">
<thead>
<tr>
<th>Route</th><th>Page Title</th><th>Actions</th>
</tr>
</thead>
{% for page in pages %}
<tr><td><a href="{{ path('backend_page_edit',{'uuid':page.uuid}) }}">{{ page.route }}</a></td><td>{{ page.pagetitle }}</td><td><a href="">Remove</a></td></tr>
{% endfor %}
</table>
<a href="{{ path('backend_page_add') }}" class="btn btn-primary">Add <i class="fa fa-plus"></i></a>
{% endblock %}

