{% extends 'backend.html.twig' %}
{% block backend %}
<h2>Posts</h2><hr></hr>
<table class="table table-sm table-striped table-dark table-hover">
<thead>
<tr>
<th>Route</th><th>Title</th><th>Actions</th>
</tr>
</thead>
{% for post in posts %}
<tr><td><a href="{{ path('backend_post_edit',{'uuid':post.uuid}) }}">{{ post.route }}</a></td><td>{{ post.title }}</td><td><a href="">Remove</a></td></tr>
{% endfor %}
</table>
<a href="{{ path('backend_post_add') }}" class="btn btn-primary">Add <i class="fa fa-plus"></i></a>
{% endblock %}

