{% extends 'backend.html.twig' %}
{% block backend %}
<h2>Users</h2><hr></hr>
<table class="table table-sm table-striped table-dark table-hover">
<thead>
<tr>
<th>Username</th><th>Actions</th>
</tr>
</thead>
{% for user in users %}
<tr><td><a href="{{ path('backend_user_edit',{'uuid':user.uuid}) }}">{{ user.username }}</a></td><td><a href="">Remove</a></td></tr>
{% endfor %}
</table>
<a href="{{ path('backend_user_add') }}" class="btn btn-primary">Add <i class="fa fa-plus"></i></a>
{% endblock %}

