body{background:#fff;}
.navbar.navbar-dark{
	background:rgb(223,224,224,0.2);
	border-bottom:1px solid #11689b;
}

.navbar-light .navbar-nav .nav-item{
	padding:0 15px;
	margin:0 8px;
	
}
.navbar-dark .navbar-nav{
	background:rgb(223,224,224,0.5);
}
.navbar-light .navbar-nav .nav-link{
	color:#2d5e68;
}
.navbar-light .navbar-nav .nav-item.active a, .navbar-light .navbar-nav .nav-item:hover a, .navbar-light .navbar-nav .nav-item:focus a{
	color:#fdfdfd;
}
.navbar-light .navbar-nav .nav-item.active,.navbar-light .navbar-nav .nav-item:hover,.navbar-light .navbar-nav .nav-item:focus{
	background:#70b0c7;
	color:#fdfdfd;
	border-radius: .25rem !important;
}

.bg-primary,.btn-primary{
	background:#70b0c7;
}
.btn-primary{
	border-color:#70b0c7;
}
.favicon{
	max-height:100px!important;
}
.bg-violet{	background:rgb(223,224,224,0.2);
}
.bg-violet .navbar-toggler{
	background:#16979a;
}
.bg-violet .navbar-brand{
	color:#272662;
}
.bg-violet .navbar-toggler-icon{
	color:#fff;
}
.bg-violet .nav-item{
	padding:0 15px;
}
.bg-violet form{
	padding:0 15px;
}
.bg-violet .nav-item:hover,.bg-violet .nav-item:focus{
	background:#0e779b;
}
.bg-square{background:#f0f0f0;}
header h1{margin:30px auto;}
.content{
background:rgba(118,209,242,0.3);
border-radius:10px;
padding:30px;
}
hr{
	border-top:1px solid #1b3664;
}

.mainsearch{
	height:3.5rem;
	max-width:767px;
}
.mainsearch .custom-select{
	height:3.5rem;
	border:2px solid #70b0c7;
	border-top-right-radius:0;
	border-bottom-right-radius:0;
	border-right:0;
}

.mainsearch .form-control{
	border:2px solid #70b0c7;
}
.sidebar{
background:#dedede;
padding-top:30px;
padding-bottom:30px;
}

.sidebar .box .nav a{
color:#1b3664;
font-size:0.9rem;
}

.sidebar .box .nav a:hover, .sidebar .box .nav a:focus{
color:#fff;
background:#069;
}
.sidebar .h3padding{
padding-top:10px;
padding-bottom:10px;
border-top:2px solid #1b3664;
background:rgba(255,255,255,0.2);
}

h2{
color:#272662;
}

h3{
text-transform:uppercase;
font-weight:bold;
color:#272662;
}

.sidebar h3{
font-size:20px;
font-weight:bold;
border-right:10px solid #069;
padding-left:12px;
text-transform:uppercase;
color:#4895d1;

margin-bottom:0px;
}

.box{
margin-top:30px;
}

.box ul li{
border-top:1px dashed #169fd1;
}

.title{
font-weight:900;
}

footer{
margin-top:30px;
margin-bottom:0px;
padding:10px;
background:#0e779b;
color:#fff;
}
