{% extends "base.html.twig" %}
{% block content %}
<h2>Listar Autores</h2>
<table class="table table-striped">
<thead><th>Nombre</th></thead>
{% for autor in autores %}
<tr><td><a href="{{path('editautor',{'id':autor.id})}}">{{ autor.nombre }}</a></td></tr>
{% endfor %}
<tfoot><th>Nombre</th></tfoot>
</table>
{% endblock %}
{% block customjs %}

{% endblock %}