{% extends "base.html.twig" %}
{% block body %}
<h3>My Projects</h3>
<hr>
{% set c=0 %}
{% for p in projects %}
{% if c%2==0 %}
<div class="row">
{% endif %}
<div class="col-sm-6"><a href="{{ path('project', {'route':p.route}) }}"><img src="{{ p.preview300 }}" alt="p.route" class="img-fluid img-thumbnail" /></a>
<br>
<span class="figure-caption">{{ p.title }}</span>
</div>
{% set c=c+1 %}
{% if c%2==0 %}
</div>
{% endif %}
{% endfor %}
{% if c%2!=0 %}
</div>
{% endif %}
{% endblock %}