{% extends "base.html.twig" %}
{% block body %}
<h3>{{ page.title }}</h3>
<hr>
<div class="text-center mb-3">
<img src="/uploads/projects/{{ page.previewfull }}" alt="{{ page.title }}" class="img-fluid img-thumbnail"/>
</div>
{{ page.description|raw }}

{% endblock %}